.scroll-top {
  position: fixed;
  right: 2rem;
  bottom: -20%;
  background-color: var(--title-color);
  padding: 0.3rem 0.5rem;
  border-radius: 0.4rem;
  z-index: 10;
  opacity: 0;
  transition: opacity 1.25s ease-in-out, background-color 0.4s ease-in-out, bottom 0.4s ease-in-out, transform 0.4s ease-in-out;
}
.scroll-top.transition {
  opacity: 1;
}
.scroll-top.show-scroll {
  bottom: 2rem;
}
.scroll-top .scroll-top-icon {
  font-size: 1.5rem;
  color: #fff;
}
.scroll-top:hover {
  background-color: var(--title-color-dark);
  transform: rotate(360deg);
}

@media screen and (max-width: 992px) {
  .scroll-top {
    right: 1.5rem;
    padding: 0.25rem 0.4rem;
  }
  .scroll-top-icon {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 768px) {
  .scroll-top {
    display: none;
  }
}