// FONTS from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f5f0ec;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2a2a2a;
}

h1,
p,
li {
    font-family: "Bai Jamjuree", sans-serif;
}

// Default buttons style
.btn {
    cursor: pointer;
    padding: 10px 30px;
    font-size: 1rem;
    color: #2a2a2a;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 3px;
    border: 2px solid #2a2a2a;
    transition: all .4s ease;
    background-color: transparent;

    &:hover {
        color: #f5f0ec;
        background-color: #2a2a2a;
        -webkit-box-shadow: 0px 6px 18px 5px rgba(0, 0, 0, 0.69);
        box-shadow: 0px 6px 18px 5px rgba(0, 0, 0, 0.69);
    }
}

.btn-dark {
    cursor: pointer;
    padding: 10px 30px;
    font-size: 1rem;
    color: #f5f0ec;
    font-weight: 600;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #f5f0ec;
    transition: all .4s ease;

    &:hover {
        color: #2a2a2a;
        background-color: #f5f0ec;
        -webkit-box-shadow: 0px 6px 18px 5px rgba(0, 0, 0, 0.69);
        box-shadow: 0px 6px 18px 5px rgba(0, 0, 0, 0.69);
    }
}

// Scrollbar styles
::-webkit-scrollbar {
    width: 12.5px;

    &-thumb {
        background-image: linear-gradient(transparent, #2a2a2a);
        border-radius: 6px;
    }
}

// Media Query
@media screen and (max-width: 1050px) {
    .btn {
        padding: 7px 20px;
    }

    .btn-dark {
        padding: 7px 20px;
    }

    ::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .btn {
        padding: 5px 15px;
    }

    .btn-dark {
        padding: 5px 15px;
    }
}