.about {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 3vw;
    color: #2a2a2a;

    &:hover .window-about {
        opacity: 1;
    }
}

.window-about {
    transition: all 1.5s ease;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 85%;
    margin: auto;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    border-radius: 5px 5px 0 0;
    opacity: .85;
}

.about-details {
    display: flex;
    align-items: flex-start;
    gap: 3.5rem;
    padding: 15px;

    .about-info {
        text-align: start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        font-size: 1.1rem;

        .scrimba-btn {
            color: #2a2a2a;
            font-weight: bolder;
            font-style: italic;
            text-decoration: none;
            transition: all .4s ease;

            &:hover {
                color: #fc6058;
            }
        }

        .skills {
            display: flex;
            justify-content: space-between;
            gap: 3rem;
            flex-wrap: wrap;

            ul {
                li {
                    list-style: none;

                    &.bold-title {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    img {
        width: 30%;
        border-radius: 3px;
        -webkit-box-shadow: -10px 12px 19px -1px rgba(0, 0, 0, 0.36);
        box-shadow: -10px 12px 19px -1px rgba(0, 0, 0, 0.36);

    }
}

span {
    font-weight: bolder;
}

.dots-wrapper {
    width: 100%;
    background-color: #eaeaea;
    display: flex;
    transition: all .5s ease;

    &:hover {
        background-color: #d6d6d6;
    }

    .dots {
        display: flex;
        border-bottom: 1px solid #c1c1c1;
        justify-content: space-between;
        border-radius: 5px 5px 0 0;
        margin-right: auto;
        height: 2rem;
        align-items: center;
        padding: 10px;

        #dot-1 {
            background-color: #fc6058;
        }

        #dot-2 {
            background-color: #fec02f;
        }

        #dot-3 {
            background-color: #2aca3e;
        }

        .browser-dot {
            background-color: black;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            margin: 3px;
            box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
        }
    }
}

@media screen and (max-width: 1050px) {
    .window-about {
        width: 95%;
        opacity: 1;
    }

    .about-details {
        gap: 2.5rem;

        .about-info {
            font-size: 1rem;

            .skills {
                gap: .5rem;
                text-align: center;
            }
        }

        img {
            width: 32.5%;
        }
    }
}

@media screen and (max-width: 650px) {
    .about {
        padding: 0 1vw;
        color: #2a2a2a;
    }

    .window-about {
        width: 90%;
        margin: auto;
        opacity: 1;
    }

    .about-details {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;

        .cv-btn {
            margin-top: 10px;
        }

        .about-info {
            align-items: center;
            gap: .7rem;
            font-size: 1.075rem;

            .skills {
                gap: 1rem;
                display: flex;
                flex-direction: column;
            }
        }

        img {
            margin: -20px 0 0 0;
            width: 50%;
        }
    }
}

@media screen and (max-width: 450px) {
    .window-about {
        width: 97%;
    }

    .about-details {

        .about-info {
            font-size: 1rem;
            line-height: 102%;
            text-align: justify
        }

        img {
            width: 65%;
        }
    }
}

@media screen and (max-width: 380px) {
    .window-about {
        width: 99%;
    }

    .about-details {
        .about-info {
            font-size: 1rem;
        }
    }
}