// Mobile menu navbar
.mobile-menu {
    font-size: 1.15rem;
    display: none;
    cursor: pointer;
}

// Navbar
.navbar {
    display: flex;
    justify-content: space-between;
    letter-spacing: .75px;
    font-family: "Syncopate", sans-serif;
    height: 8.75vh;
    padding: 0 3vw;
    align-items: center;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    transition: all 1s ease;

    .logo {
        font-family: 'Parisienne', cursive;
        font-size: 3rem;
        pointer-events: none;
        user-select: none;
    }

    ul {
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        gap: 3rem;
        transition: all 1s ease;

        li {
            transition: all 0.3s ease-in;
            list-style: none;

            &:hover {
                transform: translateY(5px);
            }

            h3 {
                cursor: pointer;
                color: #2a2a2a;
                position: relative;
                transition: all 0.3s ease-in;

                &:hover {
                    color: #626262;
                    transform: scale(1.01);
                }

                &:after {
                    content: '';
                    position: absolute;
                    background-color: #626262;
                    height: 3px;
                    width: 0;
                    left: 0;
                    bottom: -10px;
                    transition: all 0.3s ease-in;
                }

                &:hover:after {
                    width: 100%;
                }
            }
        }
    }
}

// Fixed navbar after 100px
.navbar-show {
    background: #f5f0ec;
    -webkit-box-shadow: 0px 0px 16px 0px #000000;
    box-shadow: 0px 0px 16px 0px #000000;
}

// Media Query
@media screen and (max-width: 900px) {
    .navbar {
        height: 8vh;

        .logo {
            font-size: 3rem;
        }

        ul {
            gap: 2.5rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        height: 7.5vh;

        .logo {
            font-size: 7.5vw;
        }

        ul {
            gap: 2rem;

            li {
                &:hover {
                    transform: translateY(3px);
                }

                h3 {
                    font-size: 2.5vw;

                    &:hover {
                        transform: scale(1);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 525px) {
    .mobile-menu {
        display: block;
        transition: all 1s ease;

        &.rotate {
            transform: rotate(360deg);
        }
    }

    .navbar {
        ul {
            transform: translateY(-400%);
            opacity: 0;
        }
    }
}

.navbar.mobil-menu-nav ul {
    transform: translateY(0);
    opacity: 1;
}

.navbar.mobil-menu-nav {
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    padding: 0 3vw;
    align-items: center;
    background: rgb(173, 173, 173);
    background: linear-gradient(180deg, rgba(173, 173, 173, 1) 0%, rgba(245, 240, 236, 1) 100%);
    -webkit-box-shadow: 0px 0px 16px 0px #000000;
    box-shadow: 0px 0px 16px 0px #000000;

    .logo {
        font-size: 2.5rem;
    }

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        li {
            &:hover {
                transform: scale(1.1);
            }

            h3 {
                font-size: 3vw;

                &:hover {
                    transform: scale(1);
                }
            }
        }
    }
}