.header {
  height: 100vh;
  font-family: "Bai Jamjuree", sans-serif;
  padding: 0 3vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.header:hover .header-socials {
  transform: translateX(0);
  opacity: 1;
}
.header:hover .header-socials h2 {
  opacity: 1;
  transform: translateY(0);
}
.header .header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .header-text h1 {
  font-size: 8rem;
  font-weight: 800;
  line-height: 8rem;
  color: #2a2a2a;
}
.header .header-text h4 {
  font-size: 1.75rem;
  color: #626262;
  pointer-events: none;
}
.header .header-socials {
  transform: translateX(300%);
  opacity: 0;
  transition: all 1.5s;
}
.header .header-socials h2 {
  color: #626262;
  pointer-events: none;
  user-select: none;
  transition: all 1.65s;
  opacity: 0;
}
.header .header-socials .h-1 {
  transform: translateY(-100vh);
}
.header .header-socials .h-2 {
  transform: translateY(100vh);
}
.header .header-socials ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.65rem;
}
.header .header-socials ul li {
  list-style: none;
}
.header .header-socials ul li a {
  color: #626262;
  font-size: 2.5rem;
  transition: all 0.475s ease;
  display: flex;
}
.header .header-socials ul li a:hover {
  color: #2a2a2a;
  transform: translateX(-5px);
}
.header .header-socials ul li .facebook:hover {
  color: #1877f2;
}
.header .header-socials ul li .instagram:hover {
  color: #e1306c;
}
.header .header-socials ul li .linkedin:hover {
  color: #0077b5;
}
.header .header-socials ul li .github:hover {
  color: #333;
}
.header .header-socials ul li .twitter:hover {
  color: #1da1f2;
}

.lineChildren {
  transform: translate(0, 500px);
}

.lineParent {
  overflow: hidden;
}

@media screen and (max-width: 1050px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .header:hover .header-socials h2 {
    opacity: 0;
  }
  .header .header-text h1 {
    font-size: 6rem;
    line-height: 6.5rem;
  }
  .header .header-socials {
    transform: translateX(0);
    opacity: 1;
    position: absolute;
    bottom: 2.5vw;
    left: 1vw;
  }
  .header .header-socials ul {
    flex-direction: row;
    gap: 0.5rem;
  }
  .header .header-socials ul li {
    list-style: none;
  }
  .header .header-socials ul li a {
    color: #626262;
    font-size: 2.5rem;
    transition: all 0.475s ease;
    display: flex;
  }
  .header .header-socials ul li a:hover {
    transform: translateY(-5px);
  }
}
@media screen and (max-width: 840px) {
  .header .header-text h1 {
    font-size: 10vw;
    line-height: 10vw;
  }
  .header .header-text h4 {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 660px) {
  .header .header-socials ul li a {
    font-size: 5.5vw;
  }
}
@media screen and (max-width: 550px) {
  .header .header-socials ul li a {
    font-size: 6vw;
  }
  .header .header-text h1 {
    font-size: 10vw;
    line-height: 10vw;
  }
  .header .header-text h4 {
    font-size: 3.5vw;
  }
}/*# sourceMappingURL=Header.css.map */